---
import { t } from "i18next";
---

<h3 class="opacity-80 text-lg font-semibold text-gray-900 dark:text-white">
  Manuel Alejandro Naranjo Rey
</h3><br />
<p class="text-base font-normal text-gray-500 dark:text-gray-400 text-pretty">
  {t("about.first")}
</p><br />
<p class="text-base font-normal text-gray-500 dark:text-gray-400 text-pretty">
  {t("about.second")}
</p><br />
<p class="text-base font-normal text-gray-500 dark:text-gray-400 text-pretty">
  {t("about.third")}
</p><br />
<p class="text-base font-normal text-gray-500 dark:text-gray-400 text-pretty">
  {t("about.fourth")}
</p>
