---
import type { Code, Debug } from "astro:components";
import ExperienceItem from "./ExperienceItem.astro";
import { t } from "i18next";
const EXPERIENCE = [
  {
    date: t("experience.first.date"),
    name: t("experience.first.name"),
    description: t("experience.first.description"),
  },
  {
    date: t("experience.second.date"),
    name: t("experience.second.name"),
    description: t("experience.second.description"),
  },
  {
    date: t("experience.third.date"),
    name: t("experience.third.name"),
    description: t("experience.third.description"),
  },
];
---

<ol class="relative border-s-2">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
