<script
  src="https://platform.linkedin.com/badges/js/profile.js"
  async
  defer
  type="text/javascript"></script>
<div
  class=`badge-base LI-profile-badge ${Astro.props.class}`
  data-locale="es_ES"
  data-size="medium"
  data-theme="dark"
  data-type="VERTICAL"
  data-vanity="manuel-alejandro-naranjo-rey"
  data-version="v1"
>
  <a
    class="badge-base__link LI-simple-link"
    href="https://es.linkedin.com/in/manuel-alejandro-naranjo-rey?trk=profile-badge"
    >Manuel Alejandro Naranjo Rey</a
  >
</div>
